<div class="body">
    <header>
        <h1>Lista de tarefas</h1>
    </header>

    <section class="main">
        <div class="form">
            <form [formGroup]="form" id="form-control">
                <div class="input">
                    <label for="title">Nova Tarefa</label>
                    <input type="text" name="title" id="title" formControlName="title">
                </div>
                <button (click)="verifyString()">Adicionar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Tarefas</th>
                    <th>Status</th>
                    <th>Controles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <td id="title-table" class="title" contenteditable="false">
                        {{ todo.title }}
                    </td>
                    <td id="status-table">
                        <span *ngIf="todo.done ; else elseBlock">Concluido</span>
                        <ng-template #elseBlock>Pedente</ng-template>
                    </td>
                    <td id="controls-table">
                        <button (click)="removeToDo(todo)">Remover</button>
                        <br>
                        <button (click)="markAsDone(todo)">Concluir</button>
                        <br>
                        <button (click)="makeTitleEditable(todo)" class="editButton">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
