<div class="body">
    <header>
        <h1>Lista de tarefas</h1>
    </header>

    <section class="main">
        <div class="form">
            <form [formGroup]="form" id="form-control">
                <input type="text" name="title" id="title" formControlName="title">
                <button (click)="verifyString()">Adicionar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Atividade</th>
                    <th>Status</th>
                    <th>Controle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <td id="title-table">
                        {{ todo.title }}
                    </td>
                    <td id="status-table">
                        <span *ngIf="todo.done ; else elseBlock">Concluido</span>
                        <ng-template #elseBlock>Pedente</ng-template>
                    </td>
                    <td id="controls-table">
                        <button (click)="removeToDo(todo)">Remover</button>
                        <br>
                        <button (click)="markAsDone(todo)">Concluir</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </section>
</div>
